@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  -fx-header-color: rgb(250, 95, 85);
  -fx-row-odd-color: rgb(243, 184, 184);
  -fx-row-even-color: rgb(192, 119, 119);
  -fx-scrollbar-color: blue;
  font-family: 'Montserrat';
}

.table-view {
  -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
  -fx-background-color: transparent;
}

.table-view .corner {
  -fx-background-color: transparent;
}

.table-view .column-header-background{
  -fx-background-color: -fx-header-color;
  -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .table-cell{
  -fx-border-color: transparent;
}

.table-row-cell: hover {
  -fx-background-color: #93f9b911;
  -fx-text-background-color: white;
}

.table-row-cell: odd{
  -fx-background-color: -fx-row-odd-color;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}

.table-row-cell: even{
  -fx-background-color: -fx-row-even-color;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
  -fx-background-color:  -fx-header-color;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
  -fx-background-color:  -fx-header-color;
}